* {
  font-family: inherit;
}
input {
  padding: 1%;
  background-color: #fff;
  box-shadow: inset 0 0 2px 2px rgb(220, 220, 220);
  border: 0 none;
}
textarea {
  padding: 1%;
  background-color: #fff;
  box-shadow: inset 0 0 2px 2px rgb(220, 220, 220);
  border: 0 none;
}
label > input {
  background-color: initial;
  box-shadow: initial;
  border: initial;
}
.recipeButton {
  height: 40px;
  float: right;
  margin-right: 30px;
  width: 130px;
}

dialog {
  padding: 0;
}

button {
  background-color: rgba(242, 78, 103, 1);
  color: rgba(256, 256, 256, 0.9);
  border: 0;
  border-radius: 15px;
  font-size: 14px;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

#errHeader {
  background-color: #f24e67;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 2ch 3ch 2ch 3ch;
}

#errMsg {
  text-align: center;
  padding: 1ch;
}

#errButt {
  width: 30%;
  margin: 2ch 35% 2ch 35%;
}

.buttons {
  height: 40px;
  text-align: center;
}

.amount {
  margin-left: 10px;
  width: 20%;
  background-color: #fff;
  border: 0 none;
}

.ingredSteps input {
  background-color: #fff;
  border: 0 none;
}

.make {
  display: inline-block;
  margin-top: 2%;
  margin-left: 2%;
}

.make2 {
  display: inline-block;
  margin-top: 2%;
  margin-left: 12%;
}

.Ingre {
  margin-bottom: 2%;
  margin-right: 2%;
  width: 8%;
  text-align: center;
}

.unit {
  margin-bottom: 2%;
  margin-right: 2%;
  width: 8%;
  clear: both;
  text-align: center;
}

.Ingredient {
  width: 70%;
  padding-left: 2%;
}

.urlButton {
    height: 40px;
    margin-left: 30px;
    width: 130px;
  }

@media only screen and (max-width: 999px) {
  input {
    font-size: 0.80em;
  }
  .midPart {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    display: block;
  }

  .midPart h2 {
    font-size: 2em;
    text-align: left;
    padding-top: 100px;
    clear: both;
  }

  .recipeName {
    width: 98%;
    height: 35px;
    border: 0 none;
    background-color: #fff;
    /*box-shadow: inset 0 0 2px 2px rgb(220, 220, 220);*/
    font-size: 1em;
  }

  .image-upload {
    font-size: 1em;
    margin-top: 2%;
    width: 98%;
    height: 35px;
  }

  .descrip {
    margin-top: 2%;
    width: 98%;
    height: 200px;
    border-width: 2px;
    background-color: #fff;
    /*box-shadow: inset 0 0 2px 2px rgb(220, 220, 220);*/
    border: 0 none;
  }

  .instructions input {
    margin-bottom: 2%;
    width: 94%;
    background-color: #fff;
    /*box-shadow: inset 0 0 2px 2px rgb(220, 220, 220);*/
    border: 0 none;
    padding-right: 2%;
  }

  .instructArea {
    margin-left: 10%;
    width: 63%;
    height: 200px;
    border-width: 2px;
  }

  .checkboxes {
    margin-top: 20px;
    display: flex;  
    flex-wrap: wrap;
    margin-top: 5%;
    margin-left: 12%;
    width: 80%;
  }

  .container {
    margin: 5px;
    display: flex;
    width: 200px;
  }

  .container input {
    width: 30px;
  }

  .create-recipe-button {
    justify-content: center;
  }

  .create-recipe-button button {
    float: right;
    margin: 0 20px 50px;
    width: 200px;
    height: 40px;
  }
  .recipeButton {
    margin-right: 4%;
    width: 120px;
    font-size: 12px;
  }
}

@media only screen and (min-width: 1000px) {
  input {
    font-size: 0.80em;
  }
  .line-break {
    display: none;
  }

  .midPart {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    width: 77%;
  }

  .midPart h2 {
    margin-top: 200px;
    font-size: 3em;
    text-align: left;
    clear: both;
  }

  .recipeName {
    width: 60%;
    height: 35px;
    font-size: 1em;
  }

   .urlText {
    width: 60%;
    height: 35px;
    font-size: 1em;
  }

  .image-upload {
    margin-top: 2%;
    width: 60%;
    height: 35px;
    font-size: 1em;
  }

  .descrip {
    margin-top: 2%;
    width: 90%;
    height: 200px;
    border-width: 2px;
  }

  

  .instructions input {
    margin-bottom: 2%;
    width: 95%;
    border-width: 2px;
    padding-right: 2%;
    background-color: #fff;
    /*box-shadow: inset 0 0 2px 2px rgb(220, 220, 220);*/
    border: 0 none;
  }


  .instructArea {
    margin-left: 10%;
    width: 63%;
    height: 200px;
    border-width: 2px;
  }

  .checkboxes {
    margin-top: 20px;
    display: flex;  
    flex-wrap: wrap;
    margin-top: 5%;
    margin-left: 12%;
    width: 80%;
  }

  .container {
    font-size: 20px;
    margin: 10px;
    width: 200px;
    display: flex;
  }

  .container input {
    width: 30px;
  }

  .container input:checked {
    color: white;
  }

  .create-recipe-button {
    justify-content: center;
  }

  .create-recipe-button button {
    float: right;
    margin: 0 20px 50px;
    width: 200px;
    height: 40px;
  }
  .recipeButton {
    margin-right: 30px;
  }
}


