.back-button {
  border: none;
  width: 40px;
  height: 40px;
  position: relative;
  top: 115px;
  left: 20px;
  background: url('https://api.iconify.design/eva/arrow-back-outline.svg?color=%23111&height=40') no-repeat center center / contain;
  cursor: pointer;
}

.recipe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 52px 5%;
}

.recipe-header {
  width: 100%;
  max-width: 1100px;
  position: relative;

  display: grid;
  grid-template-columns: [header-info] 1fr [header-image] 300px;
  grid-template-rows: main 100%;
  column-gap: 30px;
  align-items: center;
}
.recipe-header-info {
  height: 100%;
  width: 100%;
  /* display: flex;
  flex-direction: column; */
}
.recipe-image {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  border: 1px solid #C4C4C4;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  object-fit: cover;
  margin: 0;
}

.recipe-body {
  width: 100%;
  max-width: 1100px;
  display: grid;
  grid-template-columns: [recipe-instructions] 1fr [recipe-ingredients] 1fr;
  column-gap: 10%;
  justify-content: center;
}

.half-line {
  max-width: 1100px;
  width: 100%;
  height: 2px;
  box-sizing: border-box;
  border: 1px solid #C4C4C4;
}

.recipe-subtitle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 18px;
  margin-bottom: 10px;
}

.recipe-subtitle-head {
  margin-right: 40px;
}

.scale-input {
  width: 60px;
  border-radius: 5px;
  border: 2px solid #C4C4C4;
  text-align: center;
}

.unit-conversion {
  color: #222;
  border: 1px solid #222;
  font-size: 11px;
  padding: 4px 12px;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 5px;
  letter-spacing: 0.1em;
}

.unit-conversion:hover {
  color: white;
  background-color: #222;
}

.unit-conversion:active {
  color: white;
  background-color: #222;
}

#recipe-title {
  margin: 10px 0;
  font-weight: bold;
  font-size: 40px;
  line-height: 55px;
}

#categories {
  font-size: 18px;
}

#shareContainer {
  display: flex;
  flex-direction: column;
  width: 48px;
  height: auto;
}

.share {
  display: block;
  width: 48px;
  height: 48px;
  margin-bottom: 10px;
}

.recipe-button-container {
  display: flex;
  flex-direction: column;
  width: 48px;
  height: auto;
  position: absolute;
  top: 20px;
  left: -72px;
}

.recipe-button {
  width: 48px;
  height: 48px;
  margin: 0 0 10px 0;
  cursor: pointer;
  border: none;
}

@media (max-width: 1300px) {
  .recipe-button-container {
    position: relative;
    top: 0;
    left: 0;
    flex-direction: row;
    width: auto;
    flex-wrap: wrap;
  }
  .recipe-button {
    margin: 0 10px 10px 0;
  }  
  .share {
    margin: 0 10px 10px 0;
  }
  #shareContainer {
    flex-direction: row;
    height: 58px;
    width: 100%;
    width: auto;
    flex-wrap: wrap;
  }
  
}

@media (max-width: 800px) {
  .recipe-header {
    display: flex;
    flex-direction: column;
  }
  .recipe-image {
    margin-bottom: 30px;
  }
  .recipe-body {
    display: flex;
    flex-direction: column-reverse;
  }
}

ol,
ul {
  margin-top: 10px;
  font-size: 15px;
}
ol li:not(:first-child) {
  margin-top: 15px;
}

ol li::marker {
  padding-right: 5px;
}

ul li {
  cursor: pointer;
  position: relative;
  list-style-type: none;
  /* background: rgb(248, 248, 248); */
  transition: 0.2s;
}

ul li.checkbox-checked {
  text-decoration: line-through;
}

.checkbox-box { 
  height: 15px;
  width: 15px;
  border: 1px solid; 
  margin: 3px 3px 3px 0px;
}

.checkbox-box:checked::before {
  background-color: white;
  color: black;
}
/**
ul li:hover {
  background: #ddd; 
}

ul li.checked {
  text-decoration: line-through;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: black;
  border-style: solid;
  border-width: 0 1px 1px 0;
  top: 3px;
  left: 0px;
  transform: rotate(45deg);
  height: 12px;
  width: 5px;
}
**/ 

ul li:not(:first-child) {
  margin-top: 8px;
}

.share.twitter { 
  background: url('https://api.iconify.design/bi/twitter.svg?color=%231da1f2&height=48') no-repeat center center / contain;
}

.share.facebook { 
  background: url('https://api.iconify.design/bi/facebook.svg?color=%233b5998&height=48') no-repeat center center / contain;
}

.share.reddit {
  background: url('https://api.iconify.design/bi/reddit.svg?color=orangered&height=48') no-repeat center center / contain;
}

.share.email {
  background: url('https://api.iconify.design/ant-design/mail-outlined.svg?color=%23545454&height=48') no-repeat center center / contain;
}

.share.print { 
  background: url('https://api.iconify.design/bytesize/print.svg?color=%23545454&height=48') no-repeat center center / contain;
  border: none;
  cursor: pointer;
}
.rec{
  margin-left: 105px;
}
.foodList{
  margin-left: 90px;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 32px 5%;
}

#print-solo { 
  background: url('https://api.iconify.design/bytesize/print.svg?color=%23c4c4c4&height=48') no-repeat center center / contain;
  border: none;
  cursor: pointer;
}