@media only screen and (max-width: 700px){
  main h1{
      font-size: 3em;
  }
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin:  32px 5% 10%;
}
.midPart {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  width: 100%;
}
.title{
  float: left;
  text-align: left;
  width: 100%;
}
.bar {
  width: 100%;
}

div#search-results-container {
  display: flex;
  max-width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.search-page-result {
  display: flex;
  max-width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

div#search-results-page-buttons {
  display:none;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;
  height: 100px;
  grid-template-areas: "previous space next";
  align-content: end;
  font-size: 16px;
}

button#search-page-button-previous {
  grid-area: previous;
  height: 50px;
  padding: 5px 15px;
  outline: none;
  border: none;
  color: #1a2735;
  font-family: 'Nunito', sans-serif !important;
  /* cursor: pointer; */
} 

button#search-page-button-previous:hover {
  cursor: pointer;
  color: #F48395;
}


button#search-page-button-next {
  grid-area: next;
  height: 50px;
  padding: 5px 15px;
  cursor: pointer;
  outline: none;
  border: none;
  color: #1a2735;
  font-family: 'Nunito', sans-serif !important;
}

button#search-page-button-next:hover {
  cursor: pointer;
  color: #F48395;
}

/*
.bar{
    margin:0 auto;
    width:700px;
    height:65px;
    border-radius:30px;
    border:1px solid #dcdcdc;
    
  }
  .bar:hover{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
  }
  /*
  .bar:focus-within{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline:none;
  }
  
  .searchbar{
    height:20px;
    border:none;
    width:575px;
    font-size:16px;
    outline: none;
    position: center;
  }
  .search{
    height:25px;
    width: 25px;
    position:relative;
    top:10px;
    left:10px;
    border:none;
    background-color: #ffffff;
  }
  .bar button{
      border:none;
      outline: none;
      background-color: #ffffff;
  }
  