@import url('https://fonts.googleapis.com/css?family=Nunito');

html,
body {
    position: relative;
    min-height: 100vh;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.submit-btn {
    background-color: rgba(242, 78, 103, 1);
    color: #ffffff;
    border: 0;
    border-radius: 15px;
    display: block;
    margin: 15px auto;
    padding: 15px 45px;
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}
.submit-btn:hover {
    background-color: #cf4257;
}